@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes-Bold.eot");
  src: url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes-Regular.eot");
  src: url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "TTLakes", "Arial", serif;
  font-style: normal;
  font-size: 16px;
  color: #f8f8f8;
}

.brand {
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
  background-color: #f8f8f8;
}

.header {
  box-sizing: border-box;
  min-width: 320px;
  height: 56px;
  background-image: linear-gradient(to right, #f8f8f8 40%, #ffffff 100%);
}

.header__title {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  color: #7e7e82;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  border-top: 2px solid #d9fff5;
}

.nav-menu {
  position: relative;
  height: 140px;
}

.list-brand {
  padding-left: 16px;
}

.list-brand__item {
  width: 224px;
  height: 72px;
}

.list-brand__link {
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  width: 224px;
  height: 72px;
  padding: 16px;
  background-color: #ffffff;
  background-image: url("icon/go.svg");
  background-repeat: no-repeat;
  background-size: content;
  background-position: 90% 50%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.brand,
.swiper-pagination {
  bottom: 18px;
}

.show-more-button {
  display: none;
}

@media (min-width: 768px) {
  .brand {
    min-width: 768px;
    padding-bottom: 20px;
  }

  .header {
    min-width: 768px;
  }

  .header__title {
    padding-left: 25px;
  }

  .nav-menu {
    position: relative;
    height: 206px;
  }

  .nav-menu--opened {
    position: relative;
    height: 100%;
  }

  .list-brand {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .list-brand .list-brand__item {
    width: 224px;
    height: 72px;
  }

  .list-brand__link {
    width: 224px;
    height: 72px;
    padding: 16px;
  }

  .show-more-button {
    display: block;
    background-color: #f8f8f8;
    width: 133px;
    height: 24px;
    padding-left: 19px;
  }

  .show-more-button__text {
    display: block;
    font-family: "TTLakes", "Arial", sans-serif;
    color: #1b1c21;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-wrap: nowrap;
    width: 150px;
    height: 24px;
    background-image: url("icon/expand.svg");
    background-repeat: no-repeat;
    background-position: -1% 50%;
  }

  .swiper-pagination {
    display: none;
  }
}

@media (min-width: 1120px) {
  .brand {
    max-width: 1120px;
    margin: 0 auto;
  }

  .header__title {
    padding: 32px 0 32px 80px;
  }

  .show-more-button {
    padding-left: 70px;
  }
}
