@font-face {
  font-family: "TTLakes";
  src: url("/fonts/TTLakes-Bold.eot");
  src: url("/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTLakes-Bold.woff") format("woff"),
    url("/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "TTLakes";
  src: url("/fonts/TTLakes-Regular.eot");
  src: url("/fonts/TTLakes-Regular.eot?#iefix"), format("embedded-opentype"),
    local("font/TT Lakes Regular"), local("font/TTLakes-Regular"),
    url("/fonts/TTLakes-Regular.woff") format("woff"),
    url("/fonts/TTLakes-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

button {
  border: none;
  background: none;
  padding: 0;
}

body {
  font-family: "TTLakes", "Arial", sans-serif, serif;
  margin: 0 auto;
}

main {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  font-family: "TT Lake", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #7e7e82;
  
}

.mobile-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  padding: 0 16px;
  box-sizing: border-box;
}

.mobile-header__menu {
  border-bottom: 2px solid #d9fff5;
}

.left-side {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
}

.round-icon {
  width: 40px;
  height: 40px;
}

.round-icon--burger {
  background: url("../icon/burger.svg");
}

.left-side__link-group {
  display: block;
  width: 96.55px;
  height: 50.81px;
  background: url("../icon/Group.svg");
}

.center-side {
  display: none;
}

.right-side__button--hidden {
  display: none;
}

.round-icon--checkstatus {
  background: url("../icon/checkstatus.svg");
}

.round-icon--repair{
  background: url("../icon/repair.svg");
}

.right-side {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 16px;
}

.right-side--divider::before {
  content: "";
  width: 3px;
  height: 32px;
  border-radius: 1px;
  background-color: #eaeaea;
  margin-left: 16px;
}

.title__text {
  font-family: "TTLakes", sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 24px 0 0 12px;
}

.title--before::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 2px;
  margin: 0 0 0 -13px;
}

.slide-list {
  display: flex;
  padding-left: 16px;
  overflow-x: scroll;
}

.slide-menu::-webkit-scrollbar {
  display: none;
}

.slide-menu__item {
  display: flex;
  height: 40px;
  white-space: nowrap;
  margin-top: 8px;
  border: 2px solid transparent;
  border-radius: 6px;
}

.slide-menu__text {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
}

.slide-menu__text:link {
  color: #7e7e82;
}

.slide-menu__text:visited {
  color: #7e7e82;
}

.slide-menu__item:hover {
  border-color: #b8ffec;
  background-color: white;
}

.content {
  width: 100%;
  min-height: 100%;
}

.content__section {
  font-family: "TTLakes", sans-serif;
  color: #1b1c21;
  margin-top: 24px;
  padding: 0px 16px 16px 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.content__read-next {
	display: flex;
  margin-top: 15px;
}

.read-next__text {
	font-family: 'TTLakes', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}

.read__icon {
	width: 24px;
	height: 24px;
	background-image: url("../icon/expand.svg");
	margin-right: 4px;
}

.content__image {
  width: 100%;
  height: 100%;
}

.content__text {
  height: 102px;
  overflow: hidden;
}

@media (min-width: 768px) {
  * {
    margin: 0;
  }

  .header__left-side-divider {
    width: 3px;
    height: 32px;
    background: #eaeaea;
    border-radius: 2px;
  }

  .center-side {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    column-gap: 16px;
  }

  .round-icon--call {
    background: url("../icon/call.svg");
  }

  .round-icon--chat {
    background: url("../icon/chat.svg");
  }

  .round-icon--profile {
    background: url("../icon/profile.svg");
  }

  .title__text {
    margin-left: 20px;
  }

  .title--before::before {
    margin: 0 0 0 -20px;
  }

  .slide-menu {
    margin-left: 20px;
  }

  .slide-menu::-webkit-scrollbar {
    display: none;
  }

  .slide-menu__text:link {
    color: #7e7e82;
  }

  .slide-menu__text:visited {
    color: #7e7e82;
  }

  .slide-menu__text:link {
    color: #7e7e82;
  }

  .slide-menu__text:hover {
    display: inline-block;
    border-color: #b8ffec;
    background-color: white;
  }

  .content {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 416px;
  }

  .content__section {
    font-family: "TTLakes", sans-serif;
    color: #1b1c21;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    width: 100%;
    min-height: 100%;
    margin: 34px 0px 10px 24px;
  }

  .text-p1 {
    display: inline-block;
    padding-bottom: 15px;
  }

  .content__image {
    width: 360px;
    height: 208px;
    margin-top: 34px;
    margin-right: 25px;
    border-radius: 2%;
  }

  .content__text {
    height: 125px;
  }
}

@media (min-width: 1120px) {
  * {
    margin: 0;
  }

  body {
    background-color: #f8f8f8;
    max-width: 1120px;
    height: 535px;
    margin: 0 auto;
  }

  header {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
  }

  .header-nav {
    display: none;
  }

  .left-side {
    display: none;
  }

  .main-header__right-side {
    width: 336px;
  }

  .right-side__button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 8px;
  }

  .right-side {
    margin-right: 72px;
  }

  .main-header__right-side {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;
  }

  .right-side__link:visited {
    color: #1b1c21;
  }

  .right-side__link {
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }

  .title__text {
    margin-left: 40px;
    margin-top: -5px;
    order: -1;
  }

  .title--before::before {
    margin: 0 0 0 -40px;
  }

  .slide-list {
    flex-wrap: wrap;
    margin-left: 32px;
  }

  .slide-menu::-webkit-scrollbar {
    display: none;
  }

  .slide-menu__text:link {
    color: #7e7e82;
  }

  .slide-menu__text:visited {
    color: #7e7e82;
  }

  .slide-menu__text:hover {
    border-color: #b8ffec;
    background-color: white;
  }

  .content {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
  }

  .content__section {
    font-family: "TTLakes", sans-serif;
    color: #1b1c21;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 16px 0px 10px 34px;
    width: 490px;
    height: 160px;
  }

  .content__image {
    width: 531.35px;
    height: 307px;
    margin-top: 7px;
    margin-right: 28.65px;
    border-radius: 2%;
  }

  .content__text {
    height: auto;
  }
}
